# Playwright outputs
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure (Generated test reports)
allure-results/
allure-report/
allure-report-*/

# Node.js
node_modules/
dist/
.env

# System files
.DS_Store
Thumbs.db
